@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Slate_300: hsl(212, 45%, 89%);
    --Slate_500: hsl(216, 15%, 48%);
    --Slate_900: hsl(218, 44%, 22%);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: "Outfit", sans-serif;
    background-color: var(--Slate_300);
}
.main{
    width: 320px;
    height: 520px;
    margin: 60px auto;
    border-radius: 16px;
    padding: 16px;
    background-color: var(--White);
}
.img-container{
    margin: 0px auto;
    background-image: url(/images/image-qr-code.png);
    background-size: cover;
    width: 320px;
    height: 320px;
    border-radius: 8px;
    margin-bottom: 26px;
}
h1{
    color: var(--Slate_900);
    font-size: 23px;
    text-align: center;
    margin: 0 15px;
    margin-bottom: 20px;
}
p{
    color: var(--Slate_500);
    font-size: 15px;
    text-align: center;
    margin: 0 25px;
}

/* -------FOOOTER------- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }